{% extends "layout/base.html" %}
{% load static %}
{% block title %}
  Browse Tornament's
{% endblock  %}

{% block customStyle %}

<style>

  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100px;
}

.my-4 {
  margin-top: 0.5rem!important;
  margin-bottom: 0.1rem!important;
}

</style>

{% endblock  %}

{% block Content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Upcomming</em> Games</h4>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">

                  {% for i in tornaments_obj %}
                    <a href="/ViewMore/{{i.id}}">
                    <div class="col">
                      <div class="card h-90" style="background: #27292a;" >
                        <img src="{{i.thumbnail.url}}" style="max-height: 166px !important; " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-light" style="height: 48px !important;" >{{i.title}}</h5>
                          <p class="card-text my-4">{% if i.available_seats %}
                            {{i.available_seats}}
                          {% else %}
                            0
                          {% endif %}
                          Available Seats</p>
                          <div class="row">
                            <div class="col-6">
                              <p class="" > Game :  {{i.selected_game}}</p>
                            </div>
                            <div class="col-6">
                              <p class="text-end"> <i class="fa-solid {% if i.room_type == 'public' %} fa-lock-open {% else %} fa-lock {% endif %}"></i>
                                {{i.room_type}}</p>
                            </div>
                            <div class="col-6 my-2">
                              <button type="button" style="border-radius: 50px;" class="btn btn-sm  btn-{% if i.room_status == 'Open' %}success{% elif i.room_status == 'Closed' %}danger{% else %}warning{% endif %} position-relative">
                                {{i.room_status}}
                              </button>
                            </div>
                            <div class="col-6 my-2">
                              {% if i.room_status != "Closed" %}
                              <button class="btn float-end btn-sm btn-dark" > 
                                Join
                              </button>
                              {% endif %} 
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted"><i class="fa-regular fa-calendar-days"></i> {{i.tornament_dt|date:"d-m-Y "}}  <span class="float-end" >Start : {{i.start_tm}}</span> </small>
                        </div>
                      </div>
                    </div>
                  </a>

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock  %}


  {% block customScript %}

  <script type="module" src="{% static 'CommonJS/common.js' %}"></script>
  <script type="module" src="{% static 'assets/js/browerGames.js' %} "></script>

{% endblock  %}